@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

html {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
  }

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#love {
    width: 750px;
    height: 150px;
    margin: 20px;
    background-color: rgb(255,178,1);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#love div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#love h1 {
    margin: 0px;
}

#love h2 {
    margin: 0px;
}

#love h3 {
    margin: 0px;
}

#display {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#yuna {
    height: 400px;
    width: auto;
    margin: 0px 30px;
}

#list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

#shop-items {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#shop-items div {
    height: 150px;
    width: 150px;
    padding: 10px;
    margin: 10px;
    background-color: bisque;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}