@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  height: 100vh;
  background-image: url("./../img/background.png");
  background-size: 2000px auto;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#socials {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 20px;
}

#socials img {
  height: 40px;
  width: auto;
}

#game-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-logo img {
  width: 60%;
  height: auto;
}

#game-lose {
  height: 75vh;
  width: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#game-lose img {
  height: 80%;
  width: auto;
}

#try-again {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(255, 178, 1);
  border: 3px solid #000;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  padding: 10px 20px;
}
