@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    height: 100vh;
    background-image: url("./../img/background.png");
    background-size: 2000px auto;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#love {
    width: 750px;
    height: 100px;
    margin: 15px 0px 0px 0px;
    padding: 16px 24px;
    border: 3px solid #000;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    background-color: rgb(255,178,1);
    color: #000;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 5px 5px #000;
}

#love div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#love h1 {
    margin: 0px;
}

#love h2 {
    margin: 0px;
}

#love h3 {
    margin: 0px;
}

.biglove-icon {
    height: 20px;
    width: auto;
}
.love-icon {
    height: 15px;
    width: auto;
}

#display {
    width: 140vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

#yuna {
    position: absolute;
    height: 500px;
    width: auto;
    margin-left: 180px;
    margin-top: 80px;
    transition: all 0.2s ease-in-out;
    z-index: 2;
}

#yuna:hover {
    transform: scale(1.05);
}

#yuna:active {
    transform: scale(0.95);
}

.dogobjects {
    height: auto;
    width: 950px;
    margin: 0px;
    position: absolute;
    top: 180px;
    
}

#water-icon {
    margin-top: 10px;
    height: 40px;
    width: auto;
}

#food-icon {
    margin-top: 10px;
    height: 40px;
    width: auto;
}

#bed-icon {
    margin-top: 10px;
    height: 40px;
    width: auto;
}

#toy-icon {
    margin-top: 10px;
    height: 40px;
    width: auto;
}

#accessory-icon {
    margin-top: 10px;
    height: 40px;
    width: auto;
}

#treat-icon {
    margin-top: 10px;
    height: 40px;
    width: auto;
}

#list {
    margin: 10px;
    padding: 40px 30px;
    background-image: url(./../img/paper.png);
    border: 3px solid #000;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

#pin {
    height: 40px;
    width: auto;
    margin-top: -50px;
    padding-left: 100px;
}

#shop-items {
    height: auto;
    margin: 0px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}

#shop-items button {
    height: 150px;
    width: 150px;
    margin: 0px 10px;
    padding: 10px;
    background-color: rgb(192,192,192);
    border: 3px solid #000;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px #000;
}

#shop-items p {
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#shop-items button:hover {
    transform: scale(1.1);
}

#shop-items button:active {
    transform: scale(0.9);
}