@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  height: 100vh;
  background-image: url("./../img/background.png");
  background-size: 2000px auto;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 32px;
}

.logo {
    width: 60%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #26384E;
  transform: translateY(20px);
  transition: all .4s ease;
  transition-delay: .2s;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

p {
  font-size: 18px;
  line-height: 24px;
  color: #889DB8;
  transform: translateY(20px);
  transition: all .4s ease;
  transition-delay: .3s;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
}

.swiper-container {
  background: linear-gradient(270deg, rgba(247,249,255,1) 0%, rgba(242,246,255,1) 100%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  position: relative;
  max-width: 450px;
  height: 100%;
  max-height: 575px;
  border-radius: 50%;
}

.slider-image-wrapper {
  height: 250px;
  width: 100%;
  overflow: hidden;
}

.slider-item {
  width: 100%;
  height: 100%;
  border: 3px solid #000;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  opacity: 0;
  background: linear-gradient(270deg, rgba(247,249,255,1) 0%, rgba(242,246,255,1) 100%);
  box-shadow: 3px 3px #000;
  cursor: grab;
}
  
.slider-item-content {
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .4s;
  }

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .2s;
}

.swiper-pagination {
  position: absolute;
  left: 50%;
  bottom: 8px;
  transform: translatex(-50%);
  z-index: 1;
  width: auto!important;
}

.swiper-pagination-bullet {
	border-radius: 0;
	width: 8px;
  height: 8px;
  border-radius: 50%;
	line-height: 30px;
	font-size: 12px;
	opacity: 1;
	background: rgba(255, 185, 0,0.3);
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
  transition: all 0.2s;
}

.swiper-pagination-bullet-active {
	background: #FFB200;
  width: 20px;
  border-radius: 10px;
}

.slider-buttons {
  position: absolute;
  display: flex;
  top: 100%;
  justify-content: flex-end;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
}

button {
  border: 3px solid #000;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
    padding: 10px 20px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    background:  
      radial-gradient(circle, #0000 1%, var(--c) 1%) 50%/0%
      var(--c);
    transition: background 0.6s;
  }

  button:hover,
  button:focus-visible{
    background-size: 15000%;
  }
  button:active {
    background-color: var(--r,#ffb000); /* color del efecto del botón */
    background-size: 100%;
    transition: 0s;
  }
  button:focus-visible {
    outline-offset: 2px;
    outline: 3px solid #000;
  }
  
  .button-ant {
    --c: #fff;
    color: #000;
    height: 38px;
    width: 65px;
  }
  .button-sig {
    --c: #000;
    color: #fff;
    border-color: var(--c);
    height: 38px;
    width: 65px;
    margin-left: 8px;
  }

  .button-ent {
      margin-top: 20px;
      background-color: rgb(248,229,193);
  }